@import 'normalize.css';

:root {
  --main-font-family: Montserrat, sans-serif;
  --second-font-family: Antic, sans-serif;
  --logo-font-family: 'Julius Sans One', sans-serif;
  --line-height: 1.2;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;

  --primary-text-color: rgb(19, 19, 19);
  --secondary-text-color: rgb(97, 97, 97);
  --active-text-color: rgb(209, 209, 209);
  --white-text-color:rgb(255, 255, 255);
  --background-color: rgb(245, 245, 245);
  --background-color-transparent: rgba(146, 145, 145, 0.1);
  --overlay-background: rgba(146, 145, 145, 0.1);

  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--main-font-family), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
  color: var(--primary-text-color);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.networks {
  fill: var(--secondary-text-color);
  width: 25px;
  height: 25px;

  transition: transform var(--transition-duration) var(--timing-function);
}

.networks:hover,
.networks:focus {
  transform: scale(1.2);
}

.project-links {
  fill: var(--secondary-text-color);
  width: 30px;
  height: 30px;
}

.about-list-item {
  padding: 16px 0;
  border-top: 1px solid var(--active-text-color);
}
